<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center py-2">
    <p-selectButton
      [options]="stateOptions"
      [(ngModel)]="isListVisible"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </div>

  <div class="row mt-3">
    @if (isListVisible) {

    <div class="col-12">
      <div class="card">
        <p-table
          [value]="productList()"
          [tableStyle]="{ 'min-width': '60rem' }"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
              Products
              <button
                class="btn btn-primary"
                (click)="openManageDialog(undefined)"
              >
                Add Product
              </button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Price ₹</th>
              <th>Category</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
              <td>{{ product.productName }}</td>
              <td>{{ product.productPrice | currency : "INR" }}</td>
              <td>{{ product.productCategory }}</td>
              <td>{{ product.productFor }}</td>
              <td class="d-flex gap-2">
                <button
                  class="btn btn-primary"
                  (click)="openManageDialog(rowIndex)"
                  type="button"
                  ngbTooltip="Edit Product"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button
                  class="btn btn-primary"
                  (click)="deleteProduct(rowIndex)"
                  type="button"
                  ngbTooltip="Delete Product"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are
              {{ productList() ? productList().length : 0 }} products.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
    }@else {

    <div class="col-12">
      <app-product-chart></app-product-chart>
    </div>
    }
  </div>
</div>
